@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

:root {
    --fundo:  #f8f9fa; /* Cinza muito claro*/
    --texto: #333; /* Cinza escuro */
    --destaque: #ffcc00; /* Amarelo Solar */
    --destaque2: #008000; /* Verde Sustentável */
    --fonte-titulo: 'Poppins', sans-serif;
    --fonte-texto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo);
    font-family: var(--fonte-texto);
    color: var(--texto);

}

h1 {
    font-family: var(--fonte-titulo);
    font-size: 2em;
    color: var(--destaque2);
    margin: 20px;
}

p {
    font-family: var(--fonte-texto);
    font-size: 1.2em;
}

header {
    background-color: var(--destaque2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    & #logo {
        height: 100px;
    }

    & ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
        & a {
            color: white;
            text-decoration: none;
            font-size: 1.2em;
            margin: 0 10px;
            border-radius: 5px;
            transition: background-color 0.5s;
            padding: 2px;

            &:hover {
                background-color: var(--destaque);
            }
        }

    & button {
        background-color: var(--destaque);
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 1.2em;
        cursor: pointer;
        transition: background-color 0.5s;
    }
}

#hero {
    margin-bottom: 200px;
    width: 100%;
    padding: 20px;

    & img {
        width: 100%;
        max-width: 900px;
        border-radius: 5px;
    }

    & h1 {
        position: relative;
        top: -200px;
        left: 0px;
        color: white;
        font-size: 3em;
        width: 700px;
        float: inline-start;
        
    }

    & button {
        position: relative;
        top: -300px;
        left: 700px;
        width: 150px;
        float: inline-end;
        background-color: var(--destaque);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1.2em;
        cursor: pointer;
        transition: background-color 0.5s;
    }

    & div#h-flex {
        height: 600px;
        width: 900px;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 80px;
    }
}

main {
    margin: auto;
    
}

#sobre {
    padding: 20px;
    margin-bottom: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    & img {
        width: 100%;
        max-width: 800px;
        border-radius: 5px;
    }

    & h1 {
        text-align: center;
        margin-bottom: 100px;
    }

    & p {
        font-size: 1.2em;
        text-align: justify;
        width: 500px;
    }
}

#beneficios {
    margin-bottom: 100px;
    margin-top: -300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
        margin-bottom: 30px;

    }

    & table {
        border-collapse: collapse;
    }

    & td {
        border: 1px solid var(--destaque2);
        padding: 10px;
    }
}

#depoimentos {
    
    & h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    & h2 {
        text-align: center;
    }

    .d-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        
        & div {
            width: 350px;
        }
    }
}

#formulario {
    margin-bottom: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
        margin-bottom: 30px;
    }

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border: 1px solid var(--destaque2);
        border-radius: 5px;
        width: 400px;

        & input {
            width: 300px;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            border: 1px solid var(--destaque2);
        }

        & button {
            background-color: var(--destaque);
            color: white;
            border: none;
            padding: 10px 20px;
            margin-top: 20px;
            border-radius: 5px;
            font-size: 1.2em;
            cursor: pointer;
            transition: background-color 0.5s;
        }
    }
}

footer {
    background-color: var(--destaque2);
    color: white;
    padding: 10px;

    & #dados {
        margin-left: 10px;
    }

    & #redes-sociais {
       display: flex;
       flex-direction: row;

    }

    & img {
        height: 30px;
    }

    & ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }
        & a {
            color: white;
            text-decoration: none;
            font-size: 1.2em;
            margin: 0 5px;
            border-radius: 5px;
            transition: background-color 0.5s;
            padding: 7px;
        }
    
    #copy {
        text-align: center;
        
    }
}

.f-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ...código existente... */

/* Estilos para dispositivos com largura máxima de 768px (tablets e celulares) */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & #logo {
            height: 80px;
        }

        & ul {
            flex-direction: row;
            align-items: center;
        }

        & a {
            font-size: 1em;
            margin: 5px 5px;
        }

        & button {
            font-size: 1em;
            padding: 5px 10px;
            margin: 10px;
        }
    }

    #hero {
        width: 100%;
        margin-bottom: 10px;

        & h1 {
            position: relative;
            top: -150px;
            left: 0px;
            font-size: 1.5em;
            width: 100%;
            padding: 20px;
            
        }

        & button {
            position: relative;
            top: -160px;
            left: 50%;
            transform: translateX(-50%); /* Centralize o botão */
            font-size: 1em; /* Reduza o tamanho da fonte */
        }

        & div#h-flex {
            width: 100%;
        }
    }

    #sobre {
        flex-direction: column;
        align-items: center;

        & img {
            max-width: 100%;
            margin-bottom: 30px;
        }

        & p {
            width: 100%;
            text-align: justify;
            margin-top: -50px;
            margin-bottom: -300px;
            padding: 20px;
        }
    }

    #beneficios {
        margin-top: 0;

        & table {
            width: 700px;
        }
    }

    #depoimentos {
        & h1 {
            text-align: center;
        }

        & .d-flex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

        & div {
            width: 570px;
            margin-bottom: 20px;
        }
    }

    #formulario {
        & h1 {
            text-align: center;
        }

        & form {
            width: 400px;
        }
    }

    footer {
    
        & #dados {
            margin-bottom: 20px;
        }

        & #redes-sociais {
            justify-content: center;
        }
    }
}

/* Estilos para dispositivos com largura máxima de 480px (celulares) */
@media (max-width: 480px) {
    header {
        & #logo {
            height: 60px;
            margin-bottom: 10px;
        }

        & a {
            font-size: 0.8em;
        }

        & button {
            font-size: 0.8em;
            padding: 5px;
        }
    }

    #hero {
        margin-bottom: -300px;

        & h1 {
            top: -120px;
            font-size: 1.2em;
            width: 100%;
            padding: 20px;
        }

        & button {
            top: -140px;
            left: 50%;
            transform: translateX(-50%);
            width: 120px;
            height:40px;
            font-size: 0.8em;
        }
    }

    #sobre {
        & h1 {
            font-size: 1.5em;
        }

        & p {
            font-size: 1em;
        }
    }

    #beneficios {
        & h1 {
            font-size: 1.5em;
            text-align: center;
        }

        & table {
            font-size: 12px;
            width: 300px;
        }
    }

    #depoimentos {
        & h1 {
            font-size: 1.5em;
            text-align: center;
        }

        & .d-flex > div {
          width: 300px;
        }

        & p {
            text-align: justify;
        }
    }

    #formulario {
        & h1 {
            font-size: 1.5em;
            text-align: center;
        }

        & form {
            width: 350px;
        }

        & input {
            font-size: 0.9em;
        }

        & button {
            font-size: 1em;
        }
    }

    footer {
        padding: 5px;

        & p {
            font-size: 0.9em;
        }

        .f-flex {
            width: 400px;
        }

        & img {
            height: 20px;
            padding: 0px;
            margin: 0px;
           
        }
    }
}